body {
    display: flex;
    flex-direction: column;
}

#canvasBox {
    display: flex;
    margin: auto;
}

#canvas {
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 800px;
}

#bgColor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg,red 0%, yellow 100%);
}

#canvas h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    mix-blend-mode: hard-light;
    text-shadow: 0px 2px white;
}

#imgContainer {
    margin: auto;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0px 10px 8px #888888;
}

#imgContainer img {
    width: 600px;
    height: 200px;
    object-fit: contain;
    margin: auto;
    mix-blend-mode: exclusion;
}

#btnSave {
    width: 100px;
    height: 40px;
}